body{
    background-color:#f7f7f7;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.textArea{
  height: 150px;
  width: 600px;
  max-width: 100%; 
  border-radius: 5px;
  padding: 30px;
  font-size: 16px;
  border:none;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.statsDisplay{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; 

}
.wraper{
  background-color: white;
  border-radius: 5px;
  margin-top: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
p{
  color:lightgray;
}
.container{
  display: flex;
  flex-direction: column;
}
.word{
  color:red;
  font-weight: bold;
  font-size: 30px;
}
.count{
  color:black;
  font-weight: bold;
  font-size: 30px;
}


@media (max-width: 600px) {

  #root {
    padding: 1rem;
  }

  .textArea {
    width: 100%;        /* override fixed 600px */
    font-size: 14px;    /* optional smaller font */
    padding: 20px;
  }

  .statsDisplay {
    flex-direction: column;
    gap: 1rem;
  }
}